#head {
  background-color: hsla(243, 41%, 11%, 1);
  height: 800px;
  color: white;
}
#head > p {
  position: relative;
  top: 120px;
  color: #73c7e6;
  font-size: 16px;
}
#graph {
  position: relative;
  top: -550px;
}
@media (max-width: 576px) {
  #head > h1 {
    font-size: 25px;
  }
  #head > button {
    position: absolute;
    top: 300px;
  }
}
#demo-button {
  position: relative;
  top: -200px;
  border-style: solid;
  border-width: 1px;
  border-color: #73c7e6;
  color: #73c7e6;
  width: 160px;
  padding: 10px 20px 10px 20px;
}

#demo-button:hover {
  text-decoration: none;
  color: #FAA93B;
  border-color: #FAA93B;
}
/* Banner CSS complete */
/* Section1: */

#section1 {
  height: 300px;
}
#section1 > h2 {
  position: relative;
  top: -140px;
}
.col {
  text-align: center;
}
#image {
  position: relative;
  top: -330px;
  left: 17px;
}
