body {
  text-align: center;
  font-family: 'Manrope', sans-serif !important;
  color:black;
}
.navbar-brand {
  padding-right: 20px;
}

nav .navbar-nav li a {
  padding-right: 30px !important;
  font-family: 'Manrope', sans-serif !important;
  font-size: 15px;
}
nav .navbar-nav li a:hover{
  color: #73c7e6 !important;
  }
#login {
  padding-right: 5px !important;
}
